@media screen and (max-width: 1800px){
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1410px){
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1200px){
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1015px){
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}