body{
  background-color: var(--bg-body);
  font-family: var(--font-dm-sans);
}

.sidebar{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  padding:12px;
  width:300px;
}

.sidebar__navigation{
  background-color: #121212;
  border-radius:8px;
  padding:16px 0 0 16px;
}

.logo{
  background: #121212;
  display:flex;
  border-radius:8px ;
  padding:16px 0 0 16px;
}

.sidebar__navigation .logo img{
  width:80px;
}

.sidebar nav ul{
  margin-top: 20px;
  padding:0 20px 10px 20px;
}

.sidebar ul li{
  padding: 10px 0;
}

.sidebar nav ul li a{
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.sidebar nav ul li a:hover{
  color: #FFF;
}

.library{
  background-color: #121212;
  margin-top: 10px;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
}

.library .library__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library .library__button{
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-right: 10px;
  color: #b3b3b3;
  padding: 20px 10px;
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.library .library__button:hover{
  color: #FFF;
}

.library .library__button .fa{
  font-size:20px;
  font-weight: 300;
  margin-right: 10px;
  padding-right:8px;
}

.library .library__content .fa-plus{
  margin: 24px 10px;
  cursor:pointer;
  padding: 8px;
  border-radius: 100%;
}
.library .library__content .fa-plus:hover{
  background-color: #2f2f2f;
  color: #fff;
}

.section-playlist{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color:#b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0;
  padding:16px 20px;
  border-radius: 10px;
}

.section-playlist .section-playlist__content{
    display:flex;
    flex-direction: column;
}

.section-playlist__content .text{
  padding-bottom:14px;
  color:#FFF;
}

.section-playlist__content .title{
  font-weight: 700;
}

.section-playlist__content .subtitle{
  font-weight: 500;
  font-size: 12px;
}

.section-playlist__content .section-playlist__button{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  border: 0px;
  font-weight: 700;
  font-size: 12px;
  background-color: #fff;
  text-decoration:none;
  text-transform: none;
  margin-top: 12px;
  color: #000;
  width: 113px;
  transition: 0.15s;
}

.section-playlist__content .section-playlist__button:hover{
  transform: scale(1.05);

}

.sidebar .cookies{
  margin:25px 20px;
}

.sidebar .cookies a{
  color: #b3b3b3;
  font-weight: 500;
  font-size:10px;
  text-decoration: none;
}

.sidebar .cookies a:hover{
  text-decoration: underline;
}

.languages .languages__button{
  align-items: center;
  background-color: transparent;
  border: 1px solid #878787;
  color:#FFF;
  font-weight: bold;
  cursor:pointer;
  width: 170px;
  margin:8px;
  padding:8px;
  border-radius:20px;
  transition: 0.15s;
}

.languages .languages__button:hover{
  transform: scale(1.05);
  border: 1px solid #FFF;
}

.disclaimer-premium{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium .text{
  color: #FFF;
  flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  font-size: 14px;
  font-weight: 700;
}


.disclaimer-premium .button button{
  background-color: #FFF;
  border: none;
  border-radius: 40px;
  padding: 14px 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  flex-shrink: 0;
}
